# Sample rules file for relabel-newick

# For format description refer to relabel-newick --help.

# Empty lines are ignored, as well as those starting with '#' but not having a ':'
# (Which actually means that the previous line IS interpreted as a rule, due to ^ this;
#  but obviously extremely unlikely to match any node as its label would have to be
#  "# Empty lines are ignored, as well as those starting with '#' but not having a ':'"

# In its most basic usage pattern this file can be used to simply one-on-one recode
# every node label:

298:A
DO14:B
393:C

# To remove labels, use an empty right hand side:

100:

# You can also use patterns to apply the same rule to a different node labels.
# E.g. strip suffix _XYZ from every label that has it:

(.*)_XYZ:\1

# Note in the previous rule the \1 to back reference the parenthesised match '(.*)'.
# As another example, remove all suffices that start with solidus (forward slash),
# and prepend NR to any strictly numeric label:

([^/]*)/.*:\1
([0-9]\+):NR\1

# vim: sts=4:sw=4:et:ai:si
